# Copia a .env y rellena. El archivo .env no se versiona.
AWS_ACADEMY_EMAIL=
AWS_ACADEMY_PASSWORD=
AWS_ACADEMY_URL=https://awsacademy.instructure.com/courses/183052
AWS_ACADEMY_LAB=https://awsacademy.instructure.com/courses/183052/modules/items/18057525
AWS_DEFAULT_REGION=us-east-1
